@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco--principal: #ffff;
    --cinza-secundario: #cbcbcb;
    --botao--azul: #167bf7;
    --cor--de--fundo: #00030c;
    --fonte_principal: 'Inter';
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor--de--fundo);
    color: var(--branco--principal);
    font-family: var(--fonte_principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(./Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.container__botao {
    background-color: var(--botao--azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco--principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco--principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);

}

.container__tituo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;

}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;


}

.secundario {
    align-items: center;
    margin: 0 10em;

}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco--principal);
    margin-bottom: 0.1em;
}

.descricao__subtitulo {
    color: var(--cinza-secundario);
}

.container__botao {
    display: inline-block;
    margin-top: 1em;

}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;

}

.dispositivos {
    text-align: center;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}